<section class="browse-cont">
    <header>
        <section class="a-icon-cont"><p ng-click="step_to('splash-screen')"></p></section>
        <section class="space-cont"></section>
        <section class="search-icon-cont"><p></p></section>
        <section class="hamburger-icon-cont"><p></p></section>
        <section class="hr"></section>
    </header>
    <section class="main">
        <section class="content-cont">
            <section class="top-bar">
                <section class="filter-cont"><p>Filter to: All</p></section>
                <section class="clear-filter-cont"><p>Clear filters</p></section>
            </section>
            <section class="book-cont" ng-repeat="book in books">
                <section class="image"></section>
                <section class="info-cont">
                    <section class="title-cont"></section>
                    <section class="author-cont"></section>
                    <section class="rank-cont"></section>
                    <section class="buttons-cont"></section>
                </section>
            </section>
        </section>
    </section>
</section>