<section class="browse-cont">
    <header>
        <section class="a-icon-cont"><p ng-click="step_to('splash-screen')"></p></section>
        <section class="space-cont"></section>
        <section class="search-icon-cont" ng-click="search()"><p></p></section>
        <section class="hamburger-icon-cont" ng-click="step_to('filters')"><p></p></section>
        <section class="hr"></section>
    </header>
    <section class="main">
        <section class="content-cont">
            <section class="top-bar">
                <section class="filter-cont"><p>Filter to: All</p></section>
                <section class="clear-filter-cont"><p>Clear filters</p></section>
            </section>
            <section class="book-cont" ng-repeat="book in books">
                <section class="image"></section>
                <section class="info-cont">
                    <section class="title-cont"><p>{{ book.name }}</p></section>
                    <section class="author-cont"><p>by {{ book.author }}</p></section>
                    <section class="rank-cont"><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p></section>
                    <section class="buttons-cont">
                        <section class="more-info-button"></section>
                        <section class="share-button"></section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>