<section class="intro-cont">
    <header>
        <section class="skip-intro"></section>
        <section class="welcome"></section>
        <section class="hr"></section>
    </header>
    <section class="main">
        <section class="space"></section>
        <section class="content intro3"></section>
        <section class="radio-cont">
            <section class="space"></section>
            <section class="radio-buttons">
                <section class="radio-button radio-not-active" ng-click="step_to('intro1')"></section>
                <section class="radio-button radio-not-active" ng-click="step_to('intro2')"></section>
                <section class="radio-button radio-active"></section>
            </section>
        </section>
    </section>
    <footer>
        <section class="space"></section>
        <section class="intro-next"></section>
    </footer>
</section>