<section class="browse-cont">
    <header>
        <section class="input-cont">
            <section class="input-wrap">
                <input type="text"/>
            </section>
            <section class="x-cont"><p class="flaticon-cancel30" ng-click="delete_text()"></p></section>
        </section>
        <section class="hr"></section>
    </header>
    <section class="main">
        <section class="content-cont">
            <section class="top-bar">
                <section class="filter-cont"><p>Search results</p></section>
            </section>
            <section class="book-cont" ng-repeat="book in bookss">
                <section class="image"></section>
                <section class="info-cont">
                    <section class="title-cont"><p>{{ book.name }}</p></section>
                    <section class="author-cont"><p>by {{ book.author }}</p></section>
                    <section class="rank-cont"><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p><p class="flaticon-star129"></p></section>
                    <section class="buttons-cont">
                        <section class="more-info-button"></section>
                        <section class="share-button"></section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>