.filters-cont{
  width: 100%;
  min-height: 100%;
  header{
    @include size(100%, 15%);
    position: relative;
    display: table;
    background-color: #0D7E8E;
  }
  .hamburger-icon-cont{
    @include size(25%, 100%);
    @include cell-settings();
    p{
      margin: 0 auto;
      @include size(58px, 35px);
      line-height: 35px;
      font-size: 28px;
      color: #FFFFFE;
    }
  }
  .search-icon-cont{
    @include size(25%, 100%);
    @include cell-settings();
    p{
      margin: 0 auto;
      @include size(38px, 35px);
      background: url('../../images/search_icon.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
  }
  .space-cont{
    @include size(25%, 100%);
    @include cell-settings();
  }
  .a-icon-cont{
    @include size(25%, 100%);
    @include cell-settings();
    p{
      margin: 0 auto;
      @include size(54px, 53px);
      background: url('../../images/a_icon.png') no-repeat center center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
  }
  .main{
    width: 100%;
    background-color: #FFFFFF;
  }
  .filter-cont{
    @include size(85%, 35px);
    margin: 0 auto;
    display: table;
  }
  .filter-box-left{
    @include size(50%, 100%);
    display: table-cell;
    vertical-align: bottom;
    p{
      text-align: left;
      font-family: memphis;
      font-size: 18px;
      color: rgba(#0D7E8E, 0.5);
    }
  }
  #genres{
    font-family: roboto_light;
    color: rgba(#0D7E8E, 0.7);
  }
  #genre-title{
    @include size(85%, 22px);
  }
  .filter-box-right {
    @include size(50%, 100%);
    display: table-cell;
    vertical-align: bottom;
    p{
      text-align: right;
      font-family: roboto_light;
      font-size: 15px;
      color: rgba(#333,0.9);
    }
  }
  .space{
    @include size(100%, 25px);
  }
  .row{
    @include size(85%, 40px);
    margin: 15px auto;
    margin-bottom: 15px;
    display: table;
  }
  .check{
    display: table-cell;
    @include size(40px,40px);
    border: solid 2px #0D7E8E;
    border-radius: 15px;
  }
  .filter-name{
    display: table-cell;
    vertical-align: middle;
    p{
      font-family: roboto_light;
      font-size: 22px;
      color: rgba(#0D7E8E,0.8);
      padding-left: 15px;
    }
  }
  .done{
    @include size(85%, 50px);
    margin: 5px auto 25px;
    border-radius: 5px;
    background: #0D7E8E url('../../images/done.png') no-repeat center center;
  }
  .v-bg{
    background: url('../../images/v.png') no-repeat center center;
  }
  .hr{
    border: 0;
    height: 3px;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 1px 0 rgba(#fff, 0.8);
    left: 0;
    bottom: 0;
    background: #85BEC7;
    background-image: -webkit-linear-gradient(left, $hr_color, $hr_color, $hr_color);
    background-image:    -moz-linear-gradient(left, $hr_color, $hr_color, $hr_color);
    background-image:     -ms-linear-gradient(left, $hr_color, $hr_color, $hr_color);
    background-image:      -o-linear-gradient(left, $hr_color, $hr_color, $hr_color);
  }

}