@font-face {
  font-family: 'memphis';
  src: url("../stylesheets/26165_MPM_____.ttf") format("truetype");
}
@font-face {
  font-family: 'roboto_light';
  src: url("../stylesheets/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'roboto_bold';
  src: url("../stylesheets/Roboto-Bold.ttf") format("truetype");
}
/* line 1, ../sass/_structure.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 4, ../sass/_structure.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

@media only screen and (min-width: 480px) {
  /* line 12, ../sass/_structure.scss */
  html, body {
    width: 100%;
    height: 153%;
  }
}
/* line 1, ../sass/_splash-screen.scss */
.splash-cont {
  width: 100%;
  height: 100%;
  background: #F2F2F2 url("../../images/splash_screen.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 1, ../sass/_intro.scss */
.intro-cont {
  width: 100%;
  height: 100%;
  background: url("../../images/background_gradient.png") repeat-x center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 8, ../sass/_intro.scss */
.intro-cont header {
  width: 100%;
  height: 10%;
  position: relative;
}
/* line 12, ../sass/_intro.scss */
.intro-cont .main {
  width: 100%;
  height: 80%;
}
/* line 14, ../sass/_intro.scss */
.intro-cont .main .space {
  width: 100%;
  height: 10.5%;
}
/* line 18, ../sass/_intro.scss */
.intro-cont footer {
  width: 100%;
  height: 10%;
  position: relative;
  background: url("../../images/curved_line.png") no-repeat top center;
}
/* line 22, ../sass/_intro.scss */
.intro-cont footer .space {
  width: 100%;
  height: 38%;
}
/* line 26, ../sass/_intro.scss */
.intro-cont .hr {
  border: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 0;
  background: #BCDBE0;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}
/* line 40, ../sass/_intro.scss */
.intro-cont .skip-intro {
  position: absolute;
  bottom: 12px;
  right: 28px;
  width: 106px;
  height: 13px;
  background: url("../../images/skip_intro.png") no-repeat center center;
  background-size: contain;
}
/* line 48, ../sass/_intro.scss */
.intro-cont .welcome {
  position: absolute;
  bottom: 12px;
  left: 28px;
  width: 78px;
  height: 17px;
  background: url("../../images/welcome.png") no-repeat center center;
  background-size: contain;
}
/* line 56, ../sass/_intro.scss */
.intro-cont .content {
  width: 100%;
  height: 67.5%;
}
/* line 59, ../sass/_intro.scss */
.intro-cont .intro1 {
  background: url("../../images/intro1_content.png") no-repeat center center;
  background-size: contain;
}
/* line 63, ../sass/_intro.scss */
.intro-cont .intro2 {
  background: url("../../images/intro2_content.png") no-repeat center center;
  background-size: contain;
}
/* line 67, ../sass/_intro.scss */
.intro-cont .intro3 {
  background: url("../../images/intro3_content.png") no-repeat center center;
  background-size: contain;
}
/* line 71, ../sass/_intro.scss */
.intro-cont .radio-cont {
  width: 100%;
  height: 22%;
}
/* line 73, ../sass/_intro.scss */
.intro-cont .radio-cont .space {
  width: 100%;
  height: 35%;
}
/* line 77, ../sass/_intro.scss */
.intro-cont .radio-buttons {
  margin: 0 auto;
  display: table;
  width: 105px;
  height: 33px;
}
/* line 82, ../sass/_intro.scss */
.intro-cont .radio-button {
  width: 35px;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 86, ../sass/_intro.scss */
.intro-cont .radio-active {
  background: url("../../images/radio_active.png") no-repeat center center;
  background-size: contain;
}
/* line 90, ../sass/_intro.scss */
.intro-cont .radio-not-active {
  background: url("../../images/radio_not_active.png") no-repeat center center;
  background-size: contain;
}
/* line 94, ../sass/_intro.scss */
.intro-cont .intro-next {
  margin: 0 auto;
  width: 72px;
  height: 23px;
  background: url("../../images/intro_next.png") no-repeat center center;
  background-size: contain;
}

/* line 1, ../sass/_browse-page.scss */
.browse-cont {
  width: 100%;
  height: 100%;
}
/* line 3, ../sass/_browse-page.scss */
.browse-cont header {
  width: 100%;
  height: 15%;
  background-color: #107E8D;
  position: relative;
  display: table;
}
/* line 9, ../sass/_browse-page.scss */
.browse-cont .hamburger-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 12, ../sass/_browse-page.scss */
.browse-cont .hamburger-icon-cont p {
  margin: 0 auto;
  width: 58px;
  height: 35px;
  background: url("../../images/hamburger.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 22, ../sass/_browse-page.scss */
.browse-cont .search-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 25, ../sass/_browse-page.scss */
.browse-cont .search-icon-cont p {
  margin: 0 auto;
  width: 38px;
  height: 35px;
  background: url("../../images/search_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 35, ../sass/_browse-page.scss */
.browse-cont .space-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 39, ../sass/_browse-page.scss */
.browse-cont .a-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 42, ../sass/_browse-page.scss */
.browse-cont .a-icon-cont p {
  margin: 0 auto;
  width: 54px;
  height: 53px;
  background: url("../../images/a_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 52, ../sass/_browse-page.scss */
.browse-cont .main {
  width: 100%;
  height: 85%;
  background-color: #4098A4;
}
/* line 56, ../sass/_browse-page.scss */
.browse-cont .content-cont {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
/* line 60, ../sass/_browse-page.scss */
.browse-cont .top-bar {
  width: 100%;
  height: 7%;
  display: table;
}
/* line 64, ../sass/_browse-page.scss */
.browse-cont .filter-cont {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 68, ../sass/_browse-page.scss */
.browse-cont .filter-cont p {
  text-align: left;
  line-height: 18px;
  font-family: memphis;
  font-size: 18px;
  color: #FFF;
}
/* line 76, ../sass/_browse-page.scss */
.browse-cont .clear-filter-cont {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 80, ../sass/_browse-page.scss */
.browse-cont .clear-filter-cont p {
  text-align: right;
  line-height: 15px;
  font-family: roboto_light;
  font-size: 15px;
  text-decoration: underline;
  color: #FFF;
}
/* line 89, ../sass/_browse-page.scss */
.browse-cont .book-cont {
  width: 100%;
  height: 28%;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.2);
  position: relative;
  background-color: #FCFCFC;
}
/* line 98, ../sass/_browse-page.scss */
.browse-cont .image {
  width: 35%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
/* line 105, ../sass/_browse-page.scss */
.browse-cont .info-cont {
  width: 65%;
  height: 100%;
  background-color: yellow;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
}
/* line 112, ../sass/_browse-page.scss */
.browse-cont .title-cont {
  width: 100%;
  height: 31.5%;
  background-color: yellow;
}
/* line 116, ../sass/_browse-page.scss */
.browse-cont .author-cont {
  width: 100%;
  height: 17.5%;
  background-color: green;
}
/* line 120, ../sass/_browse-page.scss */
.browse-cont .rank-cont {
  width: 100%;
  height: 17.5%;
  background-color: orange;
}
/* line 124, ../sass/_browse-page.scss */
.browse-cont .buttons-cont {
  width: 100%;
  height: 33.5%;
  background-color: brown;
}
/* line 140, ../sass/_browse-page.scss */
.browse-cont .hr {
  border: 0;
  height: 3px;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 0;
  background: #85BEC7;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}
