@font-face {
  font-family: 'memphis';
  src: url("../stylesheets/26165_MPM_____.ttf") format("truetype");
}
@font-face {
  font-family: 'roboto_light';
  src: url("../stylesheets/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'roboto_bold';
  src: url("../stylesheets/Roboto-Bold.ttf") format("truetype");
}
/* line 1, ../sass/_structure.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #4098A4;
}

/* line 8, ../sass/_structure.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

@media only screen and (min-width: 480px) {
  /* line 16, ../sass/_structure.scss */
  html, body {
    width: 100%;
    height: 153%;
  }
}
/* line 1, ../sass/_splash-screen.scss */
.splash-cont {
  width: 100%;
  height: 100%;
  background: #F2F2F2 url("../../images/splash_screen.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 1, ../sass/_intro.scss */
.intro-cont {
  width: 100%;
  height: 100%;
  background: url("../../images/background_gradient.png") repeat-x center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 8, ../sass/_intro.scss */
.intro-cont header {
  width: 100%;
  height: 10%;
  position: relative;
}
/* line 12, ../sass/_intro.scss */
.intro-cont .main {
  width: 100%;
  height: 80%;
}
/* line 14, ../sass/_intro.scss */
.intro-cont .main .space {
  width: 100%;
  height: 10.5%;
}
/* line 18, ../sass/_intro.scss */
.intro-cont footer {
  width: 100%;
  height: 10%;
  position: relative;
  background: url("../../images/curved_line.png") no-repeat top center;
}
/* line 22, ../sass/_intro.scss */
.intro-cont footer .space {
  width: 100%;
  height: 38%;
}
/* line 26, ../sass/_intro.scss */
.intro-cont .hr {
  border: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 0;
  background: #BCDBE0;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}
/* line 40, ../sass/_intro.scss */
.intro-cont .skip-intro {
  position: absolute;
  bottom: 12px;
  right: 28px;
  width: 106px;
  height: 13px;
  background: url("../../images/skip_intro.png") no-repeat center center;
  background-size: contain;
}
/* line 48, ../sass/_intro.scss */
.intro-cont .welcome {
  position: absolute;
  bottom: 12px;
  left: 28px;
  width: 78px;
  height: 17px;
  background: url("../../images/welcome.png") no-repeat center center;
  background-size: contain;
}
/* line 56, ../sass/_intro.scss */
.intro-cont .content {
  width: 100%;
  height: 67.5%;
}
/* line 59, ../sass/_intro.scss */
.intro-cont .intro1 {
  background: url("../../images/intro1_content.png") no-repeat center center;
  background-size: contain;
}
/* line 63, ../sass/_intro.scss */
.intro-cont .intro2 {
  background: url("../../images/intro2_content.png") no-repeat center center;
  background-size: contain;
}
/* line 67, ../sass/_intro.scss */
.intro-cont .intro3 {
  background: url("../../images/intro3_content.png") no-repeat center center;
  background-size: contain;
}
/* line 71, ../sass/_intro.scss */
.intro-cont .radio-cont {
  width: 100%;
  height: 22%;
}
/* line 73, ../sass/_intro.scss */
.intro-cont .radio-cont .space {
  width: 100%;
  height: 35%;
}
/* line 77, ../sass/_intro.scss */
.intro-cont .radio-buttons {
  margin: 0 auto;
  display: table;
  width: 105px;
  height: 33px;
}
/* line 82, ../sass/_intro.scss */
.intro-cont .radio-button {
  width: 35px;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 86, ../sass/_intro.scss */
.intro-cont .radio-active {
  background: url("../../images/radio_active.png") no-repeat center center;
  background-size: contain;
}
/* line 90, ../sass/_intro.scss */
.intro-cont .radio-not-active {
  background: url("../../images/radio_not_active.png") no-repeat center center;
  background-size: contain;
}
/* line 94, ../sass/_intro.scss */
.intro-cont .intro-next {
  margin: 0 auto;
  width: 72px;
  height: 23px;
  background: url("../../images/intro_next.png") no-repeat center center;
  background-size: contain;
}

/* line 1, ../sass/_browse-page.scss */
.browse-cont {
  width: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_browse-page.scss */
.browse-cont header {
  width: 100%;
  height: 15%;
  position: relative;
  display: table;
  background-color: #0D7E8E;
}
/* line 10, ../sass/_browse-page.scss */
.browse-cont .hamburger-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 13, ../sass/_browse-page.scss */
.browse-cont .hamburger-icon-cont p {
  margin: 0 auto;
  width: 58px;
  height: 35px;
  background: url("../../images/hamburger.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 23, ../sass/_browse-page.scss */
.browse-cont .search-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 26, ../sass/_browse-page.scss */
.browse-cont .search-icon-cont p {
  margin: 0 auto;
  width: 38px;
  height: 35px;
  background: url("../../images/search_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 36, ../sass/_browse-page.scss */
.browse-cont .space-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 40, ../sass/_browse-page.scss */
.browse-cont .a-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 43, ../sass/_browse-page.scss */
.browse-cont .a-icon-cont p {
  margin: 0 auto;
  width: 54px;
  height: 53px;
  background: url("../../images/a_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 53, ../sass/_browse-page.scss */
.browse-cont .main {
  width: 100%;
  height: 85%;
  background-color: #4098A4;
}
/* line 57, ../sass/_browse-page.scss */
.browse-cont .content-cont {
  width: 100%;
  background-color: #4098A4;
}
/* line 61, ../sass/_browse-page.scss */
.browse-cont .top-bar {
  width: 85%;
  height: 35px;
  margin: 0 auto;
  display: table;
}
/* line 66, ../sass/_browse-page.scss */
.browse-cont .filter-cont {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 70, ../sass/_browse-page.scss */
.browse-cont .filter-cont p {
  text-align: left;
  line-height: 18px;
  font-family: memphis;
  font-size: 18px;
  color: #FFF;
}
/* line 78, ../sass/_browse-page.scss */
.browse-cont .clear-filter-cont {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 82, ../sass/_browse-page.scss */
.browse-cont .clear-filter-cont p {
  text-align: right;
  line-height: 15px;
  font-family: roboto_light;
  font-size: 15px;
  text-decoration: underline;
  color: #FFF;
}
/* line 91, ../sass/_browse-page.scss */
.browse-cont .book-cont {
  width: 305px;
  height: 118px;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.2);
  position: relative;
  background-color: #FCFCFC;
}
/* line 100, ../sass/_browse-page.scss */
.browse-cont .image {
  width: 35%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
/* line 107, ../sass/_browse-page.scss */
.browse-cont .info-cont {
  width: 65%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  overflow: hidden;
}
/* line 114, ../sass/_browse-page.scss */
.browse-cont .title-cont {
  width: 100%;
  height: 31.5%;
}
/* line 117, ../sass/_browse-page.scss */
.browse-cont .title-cont p {
  vertical-align: middle;
  color: #0D7E8E;
  font-size: 22px;
  font-family: roboto_bold;
  line-height: 37px;
  overflow: hidden;
  white-space: nowrap;
  /* Don't forget this one */
  text-overflow: ellipsis;
}
/* line 128, ../sass/_browse-page.scss */
.browse-cont .author-cont {
  width: 100%;
  height: 17.5%;
  display: table;
}
/* line 131, ../sass/_browse-page.scss */
.browse-cont .author-cont p {
  display: table-cell;
  vertical-align: middle;
  color: #0D7E8E;
  font-size: 10px;
  font-family: roboto_bold;
  line-height: 10px;
}
/* line 140, ../sass/_browse-page.scss */
.browse-cont .rank-cont {
  width: 100%;
  height: 17.5%;
}
/* line 142, ../sass/_browse-page.scss */
.browse-cont .rank-cont p {
  font-size: 13px;
  color: #EEDA44;
  text-shadow: 0px 0px 1px black;
  display: inline;
  margin-right: 5px;
}
/* line 150, ../sass/_browse-page.scss */
.browse-cont .buttons-cont {
  width: 100%;
  height: 33.5%;
}
/* line 153, ../sass/_browse-page.scss */
.browse-cont .more-info-button {
  width: 52%;
  height: 73%;
  float: left;
  border-radius: 5px;
  background: #0D7E8E url("../../images/more_info_button.png") no-repeat center center;
}
/* line 159, ../sass/_browse-page.scss */
.browse-cont .share-button {
  width: 38.5%;
  height: 73%;
  float: left;
  margin-left: 5.5%;
  border-radius: 5px;
  background: #0D7E8E url("../../images/share_button.png") no-repeat center center;
}
/* line 166, ../sass/_browse-page.scss */
.browse-cont .hr {
  border: 0;
  height: 3px;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 0;
  background: #85BEC7;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}

/* line 1, ../sass/_search.scss */
.browse-cont, .filters-cont, .book-info-cont, .share-cont {
  width: 100%;
  height: 100%;
}
/* line 3, ../sass/_search.scss */
.browse-cont .input-cont, .filters-cont .input-cont, .book-info-cont .input-cont, .share-cont .input-cont {
  width: 80%;
  height: 70%;
  background-color: #FFF;
  border-radius: 5px;
  margin: 3% auto;
  display: table;
}
/* line 10, ../sass/_search.scss */
.browse-cont .x-cont, .filters-cont .x-cont, .book-info-cont .x-cont, .share-cont .x-cont {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 100%;
}
/* line 13, ../sass/_search.scss */
.browse-cont .x-cont p, .filters-cont .x-cont p, .book-info-cont .x-cont p, .share-cont .x-cont p {
  font-size: 30px;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
}
/* line 19, ../sass/_search.scss */
.browse-cont .input-wrap, .filters-cont .input-wrap, .book-info-cont .input-wrap, .share-cont .input-wrap {
  display: table-cell;
  width: 75%;
  height: 100%;
}
/* line 23, ../sass/_search.scss */
.browse-cont input, .filters-cont input, .book-info-cont input, .share-cont input {
  width: 97%;
  height: 98%;
  padding-left: 10px;
  margin-left: 7px;
  font-size: 30px;
  color: rgba(51, 51, 51, 0.8);
  border: 0;
}

/* line 32, ../sass/_search.scss */
*:focus {
  outline: 0;
}

/* line 1, ../sass/_filters.scss */
.filters-cont {
  width: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_filters.scss */
.filters-cont header {
  width: 100%;
  height: 15%;
  position: relative;
  display: table;
  background-color: #0D7E8E;
}
/* line 10, ../sass/_filters.scss */
.filters-cont .hamburger-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 13, ../sass/_filters.scss */
.filters-cont .hamburger-icon-cont p {
  margin: 0 auto;
  width: 58px;
  height: 35px;
  line-height: 35px;
  font-size: 28px;
  color: #FFFFFE;
}
/* line 21, ../sass/_filters.scss */
.filters-cont .search-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 24, ../sass/_filters.scss */
.filters-cont .search-icon-cont p {
  margin: 0 auto;
  width: 38px;
  height: 35px;
  background: url("../../images/search_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 34, ../sass/_filters.scss */
.filters-cont .space-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 38, ../sass/_filters.scss */
.filters-cont .a-icon-cont {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 41, ../sass/_filters.scss */
.filters-cont .a-icon-cont p {
  margin: 0 auto;
  width: 54px;
  height: 53px;
  background: url("../../images/a_icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 51, ../sass/_filters.scss */
.filters-cont .main {
  width: 100%;
  background-color: #FFFFFF;
}
/* line 55, ../sass/_filters.scss */
.filters-cont .filter-cont {
  width: 85%;
  height: 35px;
  margin: 0 auto;
  display: table;
}
/* line 60, ../sass/_filters.scss */
.filters-cont .filter-box-left {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 64, ../sass/_filters.scss */
.filters-cont .filter-box-left p {
  text-align: left;
  font-family: memphis;
  font-size: 18px;
  color: rgba(13, 126, 142, 0.5);
}
/* line 71, ../sass/_filters.scss */
.filters-cont #genres {
  font-family: roboto_light;
  color: rgba(13, 126, 142, 0.7);
}
/* line 75, ../sass/_filters.scss */
.filters-cont #genre-title {
  width: 85%;
  height: 22px;
}
/* line 78, ../sass/_filters.scss */
.filters-cont .filter-box-right {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 82, ../sass/_filters.scss */
.filters-cont .filter-box-right p {
  text-align: right;
  font-family: roboto_light;
  font-size: 15px;
  color: rgba(51, 51, 51, 0.9);
}
/* line 89, ../sass/_filters.scss */
.filters-cont .space {
  width: 100%;
  height: 25px;
}
/* line 92, ../sass/_filters.scss */
.filters-cont .row {
  width: 85%;
  height: 40px;
  margin: 15px auto;
  margin-bottom: 15px;
  display: table;
}
/* line 98, ../sass/_filters.scss */
.filters-cont .check {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: solid 2px #0D7E8E;
  border-radius: 15px;
}
/* line 104, ../sass/_filters.scss */
.filters-cont .filter-name {
  display: table-cell;
  vertical-align: middle;
}
/* line 107, ../sass/_filters.scss */
.filters-cont .filter-name p {
  font-family: roboto_light;
  font-size: 22px;
  color: rgba(13, 126, 142, 0.8);
  padding-left: 15px;
}
/* line 114, ../sass/_filters.scss */
.filters-cont .done {
  width: 85%;
  height: 50px;
  margin: 5px auto 25px;
  border-radius: 5px;
  background: #0D7E8E url("../../images/done.png") no-repeat center center;
}
/* line 120, ../sass/_filters.scss */
.filters-cont .v-bg {
  background: url("../../images/v.png") no-repeat center center;
}
/* line 123, ../sass/_filters.scss */
.filters-cont .hr {
  border: 0;
  height: 3px;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  left: 0;
  bottom: 0;
  background: #85BEC7;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}

/* line 1, ../sass/_book-info.scss */
.book-info-cont {
  width: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_book-info.scss */
.book-info-cont header {
  width: 100%;
  height: 15%;
  position: relative;
  display: table;
  background-color: #0D7E8E;
  box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.8);
}
/* line 11, ../sass/_book-info.scss */
.book-info-cont .main {
  width: 100%;
  background-color: #FFF;
}
/* line 15, ../sass/_book-info.scss */
.book-info-cont .book-info {
  width: 70%;
  height: 90px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 21, ../sass/_book-info.scss */
.book-info-cont .downloads {
  width: 70%;
  height: 70px;
  display: table;
  margin: 0 auto;
  border-top: 1px solid #0D7E8E;
  border-bottom: 1px solid #0D7E8E;
}
/* line 28, ../sass/_book-info.scss */
.book-info-cont .description-cont, .book-info-cont .reviews-cont {
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 34, ../sass/_book-info.scss */
.book-info-cont .reviews-cont {
  padding-top: 0;
}
/* line 37, ../sass/_book-info.scss */
.book-info-cont .desc-title, .book-info-cont .reviews-title {
  width: 100%;
  height: 25px;
  display: table;
}
/* line 40, ../sass/_book-info.scss */
.book-info-cont .desc-title p, .book-info-cont .reviews-title p {
  display: table-cell;
  vertical-align: bottom;
  font-family: roboto_bold;
  color: rgba(13, 126, 142, 0.8);
  font-size: 11px;
}
/* line 48, ../sass/_book-info.scss */
.book-info-cont .rev-cont {
  width: 100%;
}
/* line 51, ../sass/_book-info.scss */
.book-info-cont .rev-header {
  width: 100%;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  /* Don't forget this one */
  text-overflow: ellipsis;
}
/* line 56, ../sass/_book-info.scss */
.book-info-cont .rev-header p {
  display: inline;
}
/* line 60, ../sass/_book-info.scss */
.book-info-cont p.rev-rank {
  line-height: 35px;
  font-size: 14px;
  color: #EEDA44;
  display: inline;
  margin-right: 5px;
}
/* line 67, ../sass/_book-info.scss */
.book-info-cont p.rev-title {
  line-height: 35px;
  font-family: roboto_light;
  color: #0D7E8E;
  font-weight: bold;
  font-size: 13px;
  padding-left: 5px;
}
/* line 75, ../sass/_book-info.scss */
.book-info-cont .desc-paragraph {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 79, ../sass/_book-info.scss */
.book-info-cont .desc-paragraph p {
  font-family: roboto_light;
  color: #0D7E8E;
  font-size: 16px;
}
/* line 85, ../sass/_book-info.scss */
.book-info-cont .rev-paragraph {
  width: 100%;
  padding-bottom: 10px;
}
/* line 88, ../sass/_book-info.scss */
.book-info-cont .rev-paragraph p {
  font-family: roboto_light;
  color: #0D7E8E;
  font-size: 14px;
}
/* line 94, ../sass/_book-info.scss */
.book-info-cont .downloads-info {
  width: 40%;
  height: 100%;
  display: table-cell;
}
/* line 98, ../sass/_book-info.scss */
.book-info-cont .growth-info {
  width: 60%;
  height: 100%;
  display: table-cell;
}
/* line 102, ../sass/_book-info.scss */
.book-info-cont .top-det {
  width: 100%;
  height: 65%;
  display: table;
}
/* line 105, ../sass/_book-info.scss */
.book-info-cont .top-det p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: memphis;
  font-weight: bold;
  color: #0D7E8E;
  font-size: 35px;
}
/* line 115, ../sass/_book-info.scss */
.book-info-cont .bottom-det {
  width: 100%;
  height: 35%;
  display: table;
}
/* line 118, ../sass/_book-info.scss */
.book-info-cont .bottom-det p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: roboto_light;
  color: rgba(13, 126, 142, 0.6);
  font-size: 13px;
}
/* line 125, ../sass/_book-info.scss */
.book-info-cont .image {
  width: 35%;
  height: 100%;
  float: left;
}
/* line 129, ../sass/_book-info.scss */
.book-info-cont .info {
  width: 65%;
  height: 100%;
  float: left;
}
/* line 133, ../sass/_book-info.scss */
.book-info-cont .title {
  width: 100%;
  height: 30px;
}
/* line 135, ../sass/_book-info.scss */
.book-info-cont .title p {
  line-height: 30px;
  font-family: roboto_bold;
  color: #0D7E8E;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  /* Don't forget this one */
  text-overflow: ellipsis;
}
/* line 145, ../sass/_book-info.scss */
.book-info-cont .author {
  width: 100%;
  height: 15px;
}
/* line 147, ../sass/_book-info.scss */
.book-info-cont .author p {
  line-height: 15px;
  font-family: roboto_bold;
  color: #0D7E8E;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  /* Don't forget this one */
  text-overflow: ellipsis;
}
/* line 157, ../sass/_book-info.scss */
.book-info-cont .rank {
  width: 100%;
  height: 35px;
}
/* line 159, ../sass/_book-info.scss */
.book-info-cont .rank p {
  line-height: 35px;
  font-size: 10px;
  color: #EEDA44;
  text-shadow: 0px 0px 1px black;
  display: inline;
  margin-right: 5px;
}
/* line 168, ../sass/_book-info.scss */
.book-info-cont .back-cont {
  width: 30%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 171, ../sass/_book-info.scss */
.book-info-cont .back-cont p {
  margin: 0 auto;
  width: 58px;
  height: 35px;
  background: url("../../images/back.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 181, ../sass/_book-info.scss */
.book-info-cont .title-cont {
  width: 40%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 184, ../sass/_book-info.scss */
.book-info-cont .title-cont p {
  margin: 0 auto;
  height: 35px;
  background: url("../../images/book-info.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 194, ../sass/_book-info.scss */
.book-info-cont .share-cont {
  width: 30%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 197, ../sass/_book-info.scss */
.book-info-cont .share-cont p {
  margin: 0 auto;
  width: 38px;
  height: 35px;
  background: url("../../images/share-icon.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 207, ../sass/_book-info.scss */
.book-info-cont footer {
  width: 100%;
  height: 35px;
  margin-top: 30px;
  background-color: #0D7E8E;
}
/* line 212, ../sass/_book-info.scss */
.book-info-cont .footer-cont {
  width: 80%;
  height: 100%;
  display: table;
  margin: 0 auto;
}
/* line 217, ../sass/_book-info.scss */
.book-info-cont .left-wrap {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 221, ../sass/_book-info.scss */
.book-info-cont .left-wrap p {
  color: #FFF;
  font-family: memphis;
  font-size: 15px;
}
/* line 227, ../sass/_book-info.scss */
.book-info-cont .right-wrap {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* line 232, ../sass/_book-info.scss */
.book-info-cont .right-wrap p {
  vertical-align: middle;
  display: inline;
  color: #FFF;
  font-family: roboto_light;
  font-size: 11px;
  text-decoration: underline;
}
/* line 239, ../sass/_book-info.scss */
.book-info-cont .right-wrap p:first-child {
  padding-right: 10px;
}

/* line 1, ../sass/_share.scss */
.share-cont {
  width: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_share.scss */
.share-cont header {
  width: 100%;
  height: 15%;
  position: relative;
  display: table;
  background-color: #0D7E8E;
  box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 0.8);
}
/* line 11, ../sass/_share.scss */
.share-cont .main {
  width: 100%;
}
/* line 14, ../sass/_share.scss */
.share-cont .title {
  background-color: #FFF;
  width: 100%;
  height: 35px;
  border-bottom: solid 2px #0D7E8E;
  display: table;
}
/* line 19, ../sass/_share.scss */
.share-cont .title p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-family: roboto_light;
  font-weight: bold;
  color: #35B5E4;
  font-size: 12px;
}
/* line 29, ../sass/_share.scss */
.share-cont .content {
  width: 100%;
  height: 505px;
  background: #FFF url("../../images/share-bg.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (min-width: 480px) {
  /* line 29, ../sass/_share.scss */
  .share-cont .content {
    width: 100%;
    height: 735px;
  }
}
/* line 40, ../sass/_share.scss */
.share-cont .back-cont {
  width: 30%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 44, ../sass/_share.scss */
.share-cont .title-cont {
  width: 40%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 47, ../sass/_share.scss */
.share-cont .title-cont p {
  margin: 0 auto;
  height: 35px;
  background: url("../../images/share-title.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 57, ../sass/_share.scss */
.share-cont .close-cont {
  width: 30%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 60, ../sass/_share.scss */
.share-cont .close-cont p {
  margin: 0 auto;
  width: 38px;
  height: 35px;
  line-height: 35px;
  font-size: 28px;
  color: #FFFFFE;
}
/* line 68, ../sass/_share.scss */
.share-cont .hr {
  border: 0;
  height: 4px;
  width: 100%;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #7FBBC4;
  background-image: -webkit-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -moz-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -ms-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
  background-image: -o-linear-gradient(left, #BCDBE0, #BCDBE0, #BCDBE0);
}
